<footer class="main-footer">
    <!-- Service Block-->
    <!-- Main Block -->
    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="info col-lg-4">
                    <div class="logo"><img src="~/Contents/Images/TK.png" style="width:50%; margin-top: 15px;" alt="..."></div>
                    <p>Website: FashionShop.com </p>
                    <p>Địa chỉ: 223 Bùi Đình Túy, phường 24, quận Bình Thạnh, TPHCM.</p>
                    <p>Hotline: 0902588997</p>
                    <ul class="social-menu list-inline">
                        <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/Shop-2238053689850175/" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>
                    </ul>
                </div>
                <div class="site-links col-lg-2 col-md-6">
                    <h5 class="text-uppercase">Danh Mục</h5>
                    <ul class="list-unstyled">
                        @*@Html.Action("Partial_DropCategory", "ProductCategory")*@
                        <li>
                            <a href="/tat-ca-san-pham" class="dropdown-item">Tất cả Sản Phẩm</a>
                        </li>
                        <li><a href="/san-pham/" class="dropdown-item">Name</a></li>
                    </ul>
                </div>
                <div class="site-links col-lg-2 col-md-6">
                    <h5 class="text-uppercase">Khách Hàng</h5>
                    <ul class="list-unstyled">
                        <li> <a href="/dang-nhap">ĐĂNG NHẬP</a></li>
                        <li> <a href="/dang-ky">ĐĂNG KÝ</a></li>
                    </ul>
                </div>
                <div class="newsletter col-lg-4">
                    <h5 class="text-uppercase">Trang Facebook</h5>
                    <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="380" data-height="200" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Shop-2238053689850175/">Facebook</a></blockquote></div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="text col-md-6">
                    @*<p>&copy; 2018 <a href="https://ondrejsvestka.cz/" target="_blank"> By </a> Sinh Viên Hutech .</p>*@
                </div>
                <div class="payment col-md-6 clearfix">
                    <ul class="payment-list list-inline-item pull-right">
                        <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/hub/1-4-0/img/visa.svg" alt="..."></li>
                        <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/hub/1-4-0/img/mastercard.svg" alt="..."></li>
                        <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/hub/1-4-0/img/paypal.svg" alt="..."></li>
                        <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/hub/1-4-0/img/western-union.svg" alt="..."></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
