@model List<FashionShop.Models.CartModel>

<div class="cart dropdown show">
    <a href="/gio-hang" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" title="Giỏ hàng của bạn có @Model.Count sản phẩm">
        <i class="icon-cart"></i>
        <div class="cart-no">@Model.Count()</div>
    </a>
</div>

