@model FashionShop.Models.LoginModel
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section jsFooter {
    <script src="~/Contents/js/show-hide-password.js"></script>
}
<style>
    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -32px;
        position: relative;
        z-index: 2;
    }

    .form-group {
        margin-bottom: 0;
    }

    #social {
        display: flex;
        justify-content: space-between;
        margin-top: -86px;
    }

    #hrline1 {
        line-height: 1em;
        position: relative;
        top: -40px;
        left: -33%;
        width: 34%;
    }

    #hrline2 {
        position: relative;
        top: -99px;
        left: 34%;
        width: 31%;
    }

    #text2 {
        font-size: 16px;
        font-family: 'Roboto Slab', serif;
        position: relative;
        top: -70px;
        left: 35%;
        color: gray;
    }
</style>

<section class="padding-small">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="block">
                    <div class="block-header">
                        <h5>Đăng nhập</h5>
                    </div>
                    <div class="block-body">
                        <div class="lead">
                            Nếu bạn chưa có tài khoản click <a href="/dang-ky" style="font-weight:bold; font-style: italic;">vào đây</a> để đăng ký
                        </div>
                        <hr>
                        <form action="@Url.Action("Login","User")" method="post">
                            @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="text" class="form-label">Email / Số điện thoại</label>
                                <input id="Email" name="Email" type="email" class="form-control" placeholder="Nhập email hoặc số điện thoại">
                                @Html.ValidationMessage("Email", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="password" class="form-label">Mật khẩu</label>
                                <input id="password-field" name="Password" type="password" class="form-control" value="" placeholder="Nhập mật khẩu">
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                @Html.ValidationMessage("Password", new { @class = "text-danger" })

                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i>Đăng Nhập</button>
                            </div>

                            <div style="padding-top: 50px;">
                                <hr id="hrline1">
                                <p id="text2">Hoặc đăng nhập với</p>
                                <hr id="hrline2">
                                <div id="social">
                                    <div>
                                        <a href="/User/FacebookLogin" class="btn btn-facebook" style="color:#fff;">
                                            <i class="fa fa-facebook"></i>
                                            Tài khoản Facebook
                                        </a>
                                    </div>
                                    <div>
                                        <a href="/User/LoginUsingGoogle" class="btn btn-google" style="color:#fff;">
                                            <i class="fa fa-google"></i>
                                            Tài khoản Google
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>