
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var slide = (List<Model.EF.slide>)ViewBag.Slide;
}

<!--Slider-->
<section class="hero hero-home no-padding">
    <div class="owl-carousel owl-theme hero-slider">
        @foreach (var item in slide)
        {
            <div style="background: url(../Contents/Images/@item.image);" class="item d-flex align-items-center has-pattern">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            @*<h1 style="color: #FF99FF">@item.description</h1>*@
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- List New Product Partial View-->
@Html.Action("_ListNewProductsPartial", "Product")

<!--List Discount Product-->
@Html.Action("_ListDiscountProductsPartial", "Product")

<!-- Brands -->
@Html.Action("_BrandsPartial", "Home")

